@{
    ViewData["Title"] = "One Wedding";
    @await Html.PartialAsync("_Navbar")
}

@model Wedding
<div>
    <h4>@Model.WedderOne & @Model.WedderTwo's wedding</h4>

    <h6>Date: @Model.Date.ToString("MMM d yyy")</h6>
    <br>
    <h6>Guests:</h6>
    <div class="card w-25 p-2">
        <h6>
    @foreach (UserRSVPResponse u in Model.UserResponses)
    {
        <p>@u.RSVPingUser?.FirstName @u.RSVPingUser?.LastName</p>
    }
    </h6>
    </div>
</div>