@{
    int UserId = (int)Context.Session.GetInt32("UserId");
    @await Html.PartialAsync("_Navbar")
}

@model List<Post>

<div>
    @foreach (Post p in Model)
    {
        bool ViewPost = p.UserId == UserId;
        bool Liked = p.UserLikes.Any(u => u.UserId == UserId);
        <img src="@p.ImgURL" alt="@p.Title">
        <a asp-action="ViewPost" asp-controller="Post" class="Classes" asp-route-PostId="@p.PostId">@p.Title</a>
        <p>By: @p.Poster.Name</p>
        <p>@(p.ForSale ? "Not For Sale" : "For Sale")</p>
        <p>@p.UserLikes.Count</p>
        <form asp-route-PostId="@p.PostId" asp-action="ToggleLike" asp-controller="Post">
            <button class="btn btn-link">@(Liked ? "UnLike" : "Like")</button>
        </form>
        @if (ViewPost)
        {
            <form asp-route-PostId="@p.PostId" asp-action="Edit" asp-controller="Post" method="post">
                <button class="btn btn-primary">Edit</button>
            </form>
            <form asp-route-PostId="@p.PostId" asp-action="Delete" asp-controller="Post" method="post">
                <button class="btn btn-primary">Delete</button>
            </form>
        }
    }
</div>